@{ 
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Reset Password Confirmation</h1>
            <hr />

            <h4>
                Your account password has been reset you can now login here <a asp-action="Login" asp-controller="Account">Login</a>
            </h4>
</div>


    </body>
</html>


