
@{
    Layout = "_Layout";
}

<style>
    footer{
       top:20%
    }
</style>
<!-- Showcase -->
<section class="section-a">
    <div class="container">
        <div>
            <h1 style="font-family:monospace;"> HMMMMMMN!!!! FEEL YOURSELF</h1>
            <p style="font-family:Sofia; font-size:20px">
                First we eat, then we do everything else
            </p>

        </div>
        <img style="border-radius:35px; margin-top:40px;" src="~/img/Main.png" alt="" />
    </div>
</section>

<!-- Large Text -->
<section id="about" class="section-b">
    <div class="overlay">
        <div class="section-b-inner py-5">

            <h2 class="text-5 mt-1">Feel Good</h2>
            <p class="mt-1">
                “I have made a lot of mistakes falling in love, and regretted most of them, but never the potatoes that went with them.” -Nora Ephron
            </p>
            <button type="button" class="btn btn-secondary btn-lg" style="background:linear-gradient(90deg,yellow,blue,green,orange)">Make Your Order Now</button>
        </div>
    </div>
</section>

<!-- Gallery -->
<section style="position:relative" class="section-c">

    <p class="ret" style="z-index:1;position:absolute; margin-left:50%"> Click for Full View</p>

    <div style="z-index:0" class="gallery">
        <a href="https://travel.jumia.com/blog/ng/wp-content/uploads/2016/06/Nigeria-Jollof-rice-1-660x400.jpg" class="big">
            <img src="~/img/Jollof-riceI.jpg" alt="Iyan" />
        </a>
        <a href="https://www.nairaland.com/attachments/5202692_ehuruegusi41024x6831_jpegfde6560d07ce685c61edf72b332e190d" class="big">
            <img src="~/img/Efo-Riroc.jpg" alt="Efo-soup" />
        </a>
        <a href="https://afrotourism.com/wp-content/uploads/2018/06/ofada-sauce1.jpg" class="big">
            <img src="~/img/Ofada.jpg" alt="Ofada" />
        </a>
        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpGLVjZmyupPcmf0N_r6EYUbBr214hiqS5UVXg6-Gf8qtKVNjc" class="big">
            <img src="~/img/Semo.jpg" alt="Semo" />
        </a>
        <a href="https://cdn05.allafrica.com/download/pic/main/main/csiid/00471462:91d03a7bafa46d1f5756b96355193627:arc614x376:w614:us1.jpg" class="big">
            <img src="~/img/Eba.jpg" alt="yamPorridge" />
        </a>
    </div>
</section>

<footer style="background-color:black" class="section-footer py-4 ">
    <div class="container">
        <div>
            <h2 style="font-family:'Palatino Linotype'; margin-left:400px" class="text-2 mb-1 mt-5">CYBER FOODS.</h2> <span>NasWorks CopyRights 2019</span>
            @*<a href="http://twitter.com">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="http://facebook.com">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="http://youtube.com">
                <i class="fab fa-youtube fa-2x"></i>
            </a>*@
        </div>
        @*<div>
            <h3>Company Info</h3>
            <ul>
                <li><a href="#">All Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>*@
        <div>
            
        </div>
        <div>
            @*<h3>Copy Rights</h3>
            <p>
              2019
            </p>*@
            @*<form class="mt-1"
                  name="email-form"
                  method="POST"
                  data-netlify="true">
                <div class="email-form">
                    <span class="form-control-wrap">
                        <input type="email"
                               name="email"
                               id="email"
                               size="40"
                               class="form-control"
                               placeholder="E-mail" />
                    </span><button type="submit" value="Submit" class="form-control submit">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </form>*@
        </div>
    </div>
</footer>


