

@{ 
    ViewData["Title"] = "Home Page";

}
<html>
<head>
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="~/areacss/areaLogin.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="loginbox">
        <img src="~/img/Eba.jpg" class="avatar">
        <h1>Login Here</h1>
        <form>

            <label for="staffId">StaffId</label>
            <input type="text" id="staffId" name="staffId" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <button class="btn btn-success btn-lg" type="submit" name="" value="Login">Login</button>

        </form>

    </div>

</body>
</html>